@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

:root {
	--left-sidebar-width: 420px;
	--left-sidebar-minified-width: 72px;
	--header-height: 64px;
	--footer-height: 72px;
	--panel-gap: 8px;

	--background-base: #000;
	--text-base: #fff;
	--text-subdued: #a7a7a7;
	--primary: #1ed760;

	--background-component: #121212;
	--background-context: #282828;
	--background-highlight: #1a1a1a;

	--border-radius-base: 8px;
	--line-height-base: 1.6;
}

body {
	background-color: var(--background-base);
	color: var(--text-base);
	line-height: var(--line-height-base);
}
