@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region GENERAL */
html,
body {
	height: 100%;
}

:root {
	--left-sidebar-width: 420px;
	--left-sidebar-minified-width: 72px;
	--header-height: 64px;
	--footer-height: 72px;
	--panel-gap: 8px;

	--background-base: #000;
	--text-base: #fff;
	--text-subdued: #a7a7a7;
	--primary: #1ed760;
	--primary-highlight: #1fdf64;

	--background-component: #121212;
	--background-context: #282828;
	--background-highlight: #1a1a1a;

	--border-radius-base: 8px;
	--line-height-base: 1.6;

	--action-tooltip-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);

	--scrollbar-width: 16px;
	--scrollbar-thumb-color: hsla(0, 0%, 100%, 0.3);

	--home-page-accent-bg: rgb(112, 112, 176);

	--track-table-header-height: 36px;
	--track-table-body-height: 56px;

	/* z-indexes */
	--track-table-header-sticky-header-zindex: 50;
}

body {
	background-color: var(--background-base);
	color: var(--text-base);
	line-height: var(--line-height-base);
	@apply antialiased;
}
::-webkit-scrollbar {
	width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-track {
	background-color: transparent;
	/* Firefox */
	scrollbar-width: thin; /* "auto" or "thin" depending on your preference */
	scrollbar-color: transparent transparent; /* track-color thumb-color */
}
/* #endregion */

.library-section::-webkit-scrollbar-thumb {
	background-color: transparent;
}
.library-section:hover::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}
/* #region TABLE STYLES */
.track-table-header,
.track-table-body {
	display: grid;
	grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
			120px,
			1fr
		);

	gap: 1rem;
}
.track-table-body > *,
.track-table-header > * {
	display: flex;
	align-items: center;
}
.track-table-header {
	background-color: var(--background-highlight);
	height: var(--track-table-header-height);
	color: var(--text-subdued);
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	text-transform: capitalize;
	position: sticky;
	top: 0;
	z-index: var(--track-table-header-sticky-header-zindex);
	margin-bottom: 1rem;
	padding: 0 2.5rem;
}
.track-table-body {
	height: var(--track-table-body-height);
	padding: 0 1rem;
}

/* #endregion */

/* #region PLAYER SPECIFIC STYLES */
button[aria-label="Play"],
button[aria-label="Pause"] {
	color: var(--text-base);
}
[data-component-name="Info"] {
	min-height: var(--footer-height) !important;
}
a[aria-label="Play on Spotify"] {
	display: none;
}

/* #endregion */
